<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet">
    </head>

<body>
    <%- include('menu', {user: user}); %>

    <div class="container py-5 mb-5">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center text-blue mb-5"> Vos transactions</h3>
                    <div class="row">
                            <div class="col-md-6 mx-auto">
                                
                                <div class="list-group">
                                    
                                        <% transaction.forEach(function(transac){ %>
                                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1"><%= transac.receiver.nom %> <%= transac.receiver.prenom %></h5>
                                                <% if (transac.sender == user._id) { %>
                                                    <h5 class="mb-1">-<%= transac.montant %> €</h5>
                                                <% } else { %>
                                                    <h5 class="mb-1">-<%= transac.montant %> €</h5>
                                                <% }%>   
                                                
                                            </div>
                                            <p class="mb-1"></p>
                                            <small><%= moment(transac.date).format('Do MMMM, YYYY'); %></small>
                                            </a>
                                        <% }); %>  
                                </div>
                                
                                    
                                
                            </div>
                        </div>
                    </div>
                </div>
    </div>


    <%- include('footer', {user: user}); %>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
